<div id="sidebar" class="sidebar"></div>
<div id="content" class="content"></div>

<script type="text/javascript">
	$(function() {
		$sidebar = $('#sidebar');
		$content = $('#content');

		var feeds = <%= Feed.all.to_json.html_safe %>

		window.NR.initialize(
			$sidebar,
			$content,
			feeds
		);
	});

</script>