<div>
<br>
<br>
<br>
<br>
<ul>
	<% feeds.each(function(feed) { %>
		<li class="feed-list">
			<a href='#/feeds/<%= feed.escape("id") %>'>
				<%= feed.escape("title") %>
			</a>
		</li>
	<% }); %>
</ul>
</div>