<br>
<br>
<br>
<p>
<h2> Add a new feed.</h2>

<label for="input_url">RSS URL:</label>
<input id="input_url" class="input-url" type="text"/>
<label for="input_title">Title:</label>
<input class="input-title" type="text"/>
<br>
<btn class="btn btn-large btn-primary" id="submit"> Submit </btn>
</p>