// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-list {
  list-style-type: none;
  text-align: center;
}

.sidebar {
  text-align: center;
}